<%- include('../partials/header') %>
<div class="container-fluid">
<h1>Add an exercise to our database</h1>
<form id="new-form" action="/exercises" method="POST">
    <div class="mb-3">
        <label class="form-label">Name of Exercise</label>
        <input type="text" name="name" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Description/Instructions</label>
        <textarea class="form-control" name="description" rows="3" placeholder="How do I do this exercise?"></textarea>
      </div>
    <input type="submit" value="Add Exercise">
  </form>
</div>
<%- include('../partials/footer') %>